.recently-viewed-products {

}
.recently-viewed-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.recently-viewed {
	flex-shrink: .5;

	&__url {
		text-decoration: none;
	}
	&__thumb {}
	&__name {

	}
	&__price {

	}
}
