#rvp-products #rvp-products-wrapper #recently-viewed-list {
	display: flex;
	flex-direction: row;
	margin: 10px 0;
	overflow: hidden;
	flex-wrap: nowrap;
}

#rvp-products.rvp-products--vertical #rvp-products-wrapper #recently-viewed-list {
	flex-direction: column;
	margin: auto;
	max-width: 150px;
}

#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed {
	box-sizing: border-box;
	padding: 0 5px;
	flex: 1 0 33.33%;
	max-width: 33.33%;
}

#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed__name {
	color: #333;
	font-size: 14px;
	min-height: 44px;
	padding-top: 6px;
	text-align: center;
}

#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed__price {
	font-size: 18px;
	min-height: 26px;
	padding-top: 4px;
	text-align: center;
}

#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed .recently-viewed__url {
	text-decoration: none;
}

#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed .recently-viewed__thumb {
	background: #eee;
	height: 0;
	padding-bottom: 100%;
	width: 100%;
}

#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed .recently-viewed__thumb img {
	width: 100%;
}

@media screen and (min-width: 480px) {
	#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed {
		flex: 1 0 25%;
	}
}

@media screen and (min-width: 768px) {
	#rvp-products #rvp-products-wrapper #recently-viewed-list {
		margin: 15px 0;
	}

	#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed {
		flex: 1 0 20%;
		max-width: 200px;
		padding: 0 10px;
	}

	#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed__name {
		font-size: 16px;
	}

	#rvp-products #rvp-products-wrapper #recently-viewed-list .recently-viewed__price {
		font-size: 20px;
	}
}